AddDefaultCharset utf8

RewriteBase /
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) index.php [L]
RewriteRule ^search/([^/]+)$ src/routes/user_profile.php?username=$1 [L]
